@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

body {
  margin: 0;
}
html {
  font-size: 16px;
}
header {
  background: url(../img/photo.png);
  background-size: 100%;
}
.header-wrapper {
  padding: 3% 10% 0 10%;
  background-color: #545556;
  opacity: 0.7;
}
.header-wrapper h1 {
  font-size: 25px;
  color: #ffffff;
  font-family: "Raleway";
}
.link_style_logo {
  text-decoration: none;
}
.link_style_logo:link {
  color: #bae5f3;
}
.link_style_logo:visited {
  color: #bae5f3;
}
.link_style_logo:hover {
  text-decoration: none;
  color: #bae5f3;
}
.link_style_logo:active {
  color: #bae5f3;
}
.link_style_nav a {
  font-size: 10px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 300;
}
.link_style_nav a:link {
  color: #bae5f3;
}
.link_style_nav a:visited {
  color: #d4d4d3;
}
.link_style_nav a:hover {
  color: #c7b299;
}
.link_style_nav a:active {
  color: #c7b299;
}
.slider_content {
  padding: 15% 20%;
}
.slider_content h5 {
  font-size: 36px;
  color: #ffffff;
  font-family: "Raleway";
}
.slider_content h6 {
  font-size: 52px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: bold;
}
.slider_content p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 300;
}
.services {
  padding: 0 10%;
}
.services h2 {
  font-size: 22px;
  color: #555555;
  font-family: "Raleway";
  font-weight: bold;
}
.services p {
  font-size: 13px;
  color: #8c8c8c;
  font-family: "Montserrat";
  font-weight: 300;
}
.services a {
  text-decoration: none;
}
.services a:hover h2 {
  color: #c7b299;
}
.services a:hover p {
  color: #c7b299;
}
.services a:hover .line {
  background-color: #c7b299;
}
.services-img_web {
  padding-top: 7%;
  background: url(../img/icon3.png) no-repeat top center;
}
.services-img_development {
  padding-top: 7%;
  background: url(../img/icon2.png) no-repeat top center;
}
.services-img_customization {
  padding-top: 7%;
  background: url(../img/icon1.png) no-repeat top center;
}
.services-img_marketing {
  padding-top: 7%;
  background: url(../img/icon.png) no-repeat top center;
}
.line {
  border: none;
  height: 4px;
  width: 70px;
  background-color: #f1eee9;
}
.portfolio_PSD_template {
  padding: 0 10%;
  background: #fbfaf8;
}
.portfolio_PSD_template h2 {
  font-size: 30px;
  color: #555555;
  font-family: "Raleway";
  font-weight: bold;
}
.portfolio_PSD_template p {
  font-size: 16px;
  color: #8c8c8c;
  font-family: "Montserrat";
  font-weight: 300;
}
.overlay_pictures_left{
  z-index: 1;
  left:0;
  bottom: 0;
}
.overlay_pictures_center{
  z-index: 3;
  position: absolute;
  left:25%;
  bottom: 0;
}
.overlay_pictures_right{
  z-index: 2;
  position: absolute;
  right:0;
  bottom: 0;
}
.wrapper_theme{
  background-color: #241d1a;
  padding: 0 10%;
}